.nav-link{
    color: grey;
}

td{
    
    padding: 10px;
    border-bottom: 1px solid #D6D6D6;
    border-top: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    background-color: #f7f7f7;
}

#myTabContent{
    display: flex;
    align-items: center;
    justify-content: center;

}

table{

    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0 15px;
    float: left;

    
}